
.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 20px;
}

.btn {
    border: solid 1.5px lightgray;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.active {
    border: solid 2px black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.inputs input {
    height: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

.submit {
    border: solid 1px black;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
    margin-top: 30px;
    border: none;
    background-color: #154B3C;
    color: white;
    font-size: large;
    border-radius: 5px;
    width: 100%;
}